@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
#nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0.5rem 5rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  background: #3a2319;
}
.navbar .navbar-brand {
  font-size: 25px;
  font-weight: bolder;
}
#navbarSupportedContent a {
  color: #f4dad1;
  border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover {
  border-bottom: 2px solid #2F4454;
}
#navbarSupportedContent button {
  background: #cfc6c0;
  border: 1px solid #a8a289;
  border-radius: 15px;
  height: 40px;
}
.wrapper{
  position: relative;  
  left: 30%;
  top: 70px;
  width: 400px;
  height:440px;
  position: fixed;
  border: 2px solid black;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px white;
  z-index: 101;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: none ;
  
}
.wrapper .icon-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #000000;
  font-size: 2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
.wrapper .form-box{
  width: 100%;
  padding: 40px;
}
.form-box h2{
  font-size: 2em;
  color: #000000;
  text-align: center;
}
.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #000000;
  margin: 30px 0;
}
.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #3a2319;
  font-weight: 500;
  pointer-events: none;
}
.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #1f1d1c;
  font-weight: 600;
  padding:0 35px 0 5px;
}
.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #1f1d1c;
  line-height: 57px;

}
.remember-forgot{
  font-size: .9em;
  color: #3a2319;
  font-weight: 500;
  margin: -15px 0 15px;
  
}
.remember-forgot label input{
  accent-color: #63cb40;
  margin-right: 3px;
}
.remember-forgot a{
  margin-left: 60px;
  color: #1f1d1c;
  text-decoration: none;
  
}
.remember-forgot a:hover{
  text-decoration: underline;
}
.btnn{
  width: 100%;
  height: 45px;
  background: #1c1918 ;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;

}
.login-register{
  font-size: .9em;
  color: #1c1918;
  text-align: center;
  font-weight: 500;
  margin: 25px 0;

}

.login-register p a{
    color: #1c1918;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover{
  text-decoration: underline;
}


section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

/*-------Home--------*/
#home {
  background:  url(bg.jpg);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  position: relative;
  
}
#home h1 {
    font-size: 90px;
    color: white;
    letter-spacing: 3px;
    Font-family:Bradley Hand, cursive;
    text-align: center;
    font-weight: 600;
}
#home p {
  font-size: 18px;
  color: white;
}
#home a {
  background-color: #2F4454;
  color: white;
  width: 100px;
  height: 40px;
  padding: 4px;
  border: 1px solid #2F4454;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
}

/*-----------About--------*/
#about {
  position: relative;
  background-color: black;;
  color: white;
}
#about h1 {
  font-size: 50px;
  font-weight: 800;
}
#about a {
  text-decoration: none;
  background-color: #c3b6b6;
  border: 1px solid #b6a76b;
  border-radius: 2px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
#about img{
    margin-left: 40px;
}
/*---------products---------*/
#products h1 {
  color: white;
  letter-spacing: 2px;
  font-weight: 700;
}
.card {
  border: 5px solid #896d66 !important;
  border-radius: 5px !important;
}
.card-body {
  background-color: #4a2920;
  color: white;
  text-align: center;
}
.card-body button {
  background-color: #ffffff;
  border: 1px solid #f1f1ef;
  width: 100px;
  border-radius: 3px;
  color: white;
}

/*-----------contact------------*/
#contact {
  width: 100%;
  min-height: 300px;
  background-color: black;
  color: white;
  display: flex;
}
#contact h1 {
  text-align: center;
  margin-top: 30px;
}
#contact i {
  color: #ab7474;
  margin-left: 10%;
}
#lp1 {
  border: 2px solid #c8a39e;
  padding: 30px;
  width: 400px;
  border-radius: 5px;
}
#lp2 {
  padding-left: 10%;
}

@media screen and (max-width:600px) {

.wrapper{
    left: 0;
    width: 100%;
    border: none;
    position: fixed;
    border-radius: none;
}
    
}